@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.col-text-information {
    font-family: 'Poppins', sans-serif;
    position: relative;
    padding: 0;
}

@media (min-width: 992px) {
    .col-subtext-information {
        padding: 0 60px;
    }
}

.title-information {
    color: #fff;
    font-size: 32px;
    margin-top: 15px;
}

@media (min-width: 1200px) {
    .title-information {
        color: #fff;
        font-size: 42px;
        margin-top: 15px;
    }
}

.description-information {
    color: #fff;
    font-size: 13px
}

@media (min-width: 1200px) {
    .description-information {
        color: #fff;
        font-size: 15px
    }
}

.readmore-information {
    display: flex;
    align-items: center;
}

.text-readmore-information {
    margin-right: 5px;
    color: #FBD784;
    font-size: 14px;
}

.icon-readmore-information {
    color: #FBD784;
    font-size: 13px;
}

.number-information {
    position: absolute;
    padding: 0;
    transform: translateY(-55%) translateX(-10%);
    top: 0;
    left: 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.07);
    font-size: 170px;
}