@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.title-page {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #fff;
}

.title-page h1 {
    font-weight: 600;
    font-size: 32px;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .title-page h1 {
        font-weight: 600;
        font-size: 56px;
        margin-top: 10px;
    }
}

.title-page h2 {
    font-size: 19px;
    font-weight: 400;
    text-align: start;
}

@media (min-width: 768px) {
    .title-page h2 {
        font-size: 25px;
        font-weight: 400;
        text-align: start;
    }
}

.scroll-div {
    margin-top: 25px;
    text-align: start;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.scroll-div span {
    font-size: 10px;
    margin-right: 8px;
}

@media (min-width: 768px) {
    .scroll-div span {
        font-size: 12px;
        margin-right: 8px;
    }
}

.scroll-icon {
    font-size: 11px;
}