@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.div-contatos {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contatos-icon {
    font-size: 32px;
    margin-right: 15px;
    color: #fff;
}

@media (min-width: 768px) {
    .contatos-icon {
        font-size: 32px;
        margin-left: 15px;
        margin-right: 0;
        color: #fff;
    }
}

.nome-contatos {
    padding-right: 16px;
}

.nome-contatos h3 {
    font-size: 18px;
    font-weight: 200;
}
.nome-contatos-text {
    display: flex;
    align-items: end;
}

.nome-contatos-text h1{
    font-weight: 500;
    padding: 0;
    font-size: 32px;
    margin: 0 8px 0 0;
}

.nome-contatos-text h2{
    font-size: 28px;
    font-weight: 400;
    margin: 0;
}

@media (max-width: 768px) {
    .nome-contatos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.informacoes-contatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .informacoes-contatos {
        display: flex;
        flex-direction: column;
        align-items: end;
        text-align: end;
    }
}

.informacoes-contatos p{
    padding: 0;
    margin-top: 7px;
    margin-bottom: 0;
}